<footer class="page-footer teal">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">About</h5>
					<p class="grey-text text-lighten-4">Founded in 1981, Wilmington Community Evangelical Church (WCEC) is a bi-cultural and bilingual (Mandarin Chinese and English) church committed to building up the kingdom of God among the Chinese-Americans and their associates in northern Delaware and the surrounding Maryland, New Jersey, and Pennsylvania.</p>

			</div>
			<div class="col l3 s12">
				<h5 class="white-text">Contact Us</h5>
				<ul>
					<li><a class="white-text">1512 Brackenville Rd</a></li>
					<li><a class="white-text">Hockessin, Delaware 19707</a></li>
					<li><a class="white-text">Phone: 1-(302)-239-4990</a></li>
					<li><a class="white-text">Email: dgodsave@gmail.com</a></li>
				</ul>
			</div>
			<div class="col l3 s12">
				<h5 class="white-text">Connect</h5>
				<ul>
					<li><a class="white-text" href="https://www.facebook.com/wcec.em">Facebook</a></li>
					<li><a class="white-text" href="#!">Something else</a></li>
					<li><a class="white-text" href="#!">Something else</a></li>
					<li><a class="white-text" href="http://wcec-home.org/">Chinese Ministry</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			Made by <a class="brown-text text-lighten-3" href="http://h313.github.io">Haoda Wang</a>
			<a class="grey-text text-lighten-4 right" href="https://github.com/h313/wcec-em/">&pi;</a>
		</div>
	</div>
</footer>
