<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

	<!-- Plain Description -->
	<title>{{ page.title }} | {{ site.title }}</title>
	<meta name="WCEC English Ministry" content="Test">
	<link rel="icon" type="image/png" href="/favicon.png">
	
	<!-- Javascript -->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script src="http://eng.wcec-home.org/js/init.js"></script>
	
	<!-- CSS & fonts -->
	<link rel="stylesheet" href="css/app.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="http:/eng.wcec-home.org/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	
	<!-- Put your fonts here -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
