<nav class="teal lighten-1" role="navigation">
	<div class="nav-wrapper container">
		<a id="logo-container" href="http://h313.github.io/wcec-em/index.html" class="brand-logo">WCEC English Ministry</a>
		<ul class="right hide-on-med-and-down">
			<li><a href="http://h313.github.io/wcec-em/index.html">Home</a></li>
			<li><a href="http://h313.github.io/wcec-em/about.html">About</a></li>
			<li><a href="http://h313.github.io/wcec-em/connect.html">Connect</a></li>
			<li><a href="http://h313.github.io/wcec-em/ministry.html">Ministry</a></li>
			<li><a href="http://h313.github.io/wcec-em/news.html">News</a></li>
		</ul>
		
		<ul id="nav-mobile" class="side-nav">
			<li><a href="http://h313.github.io/wcec-em/index.html">Home</a></li>
			<li><a href="http://h313.github.io/wcec-em/about.html">About</a></li>
			<li><a href="http://h313.github.io/wcec-em/connect.html">Connect</a></li>
			<li><a href="http://h313.github.io/wcec-em/ministry.html">Ministry</a></li>
			<li><a href="http://h313.github.io/wcec-em/news.html">News</a></li>
		</ul>
	<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
	</div>
</nav>
